### import MongoClinet

In [1]:
from pymongo import MongoClient

### Creation of MOngoclient

In [2]:
client=MongoClient()

### Connect mongodb with host and port

In [4]:
client=MongoClient('mongodb://127.0.0.1:27017/')

### Create database

In [5]:
mydbs=client['students']

### Create table collections

In [6]:
collection=mydbs['studentscores']

### Accessing collection of db

In [8]:
data=[{"Name":"Surya","Subject":"Machine Learning","score":98},
      {"Name":"Jai","Subject":"NLP","score":88},
      {"Name":"Anu","Subject":"Machine Learning","score":99},
      {"Name":"Surya","Subject":"CV","score":76}
     ]

In [9]:
collection.insert_many(data)

### Aggregate

### sum

In [23]:
agg_res=collection.aggregate(
[{
    "$group":
    {"_id":"$Name",
    "Total_subjects":{'$sum':1}}
}])

In [24]:
for i in agg_res:
    print(i)

{'_id': 'Jai', 'Total_subjects': 1}
{'_id': 'Surya', 'Total_subjects': 2}
{'_id': 'Anu', 'Total_subjects': 1}

### average

In [25]:
agg_res=collection.aggregate(
[{
    '$group':
    {'_id':"$Name",
    "Total_scores":{"$sum":"$score"}}
}])

In [26]:
for i in agg_res:
    print(i)

{'_id': 'Jai', 'Total_scores': 88}
{'_id': 'Anu', 'Total_scores': 99}
{'_id': 'Surya', 'Total_scores': 174}

In [28]:
agg_res=collection.aggregate(
[{
    '$group':
    {'_id':"$Name",
    "Average":{"$avg":"$score"}}
}])

In [29]:
for i in agg_res:
    print(i)

{'_id': 'Jai', 'Average': 88.0}
{'_id': 'Anu', 'Average': 99.0}
{'_id': 'Surya', 'Average': 87.0}

### Mininum

In [30]:
agg_res=collection.aggregate(
[{
    '$group':
    {'_id':"$Name",
    "minimum":{"$min":"$score"}}
}])

In [31]:
for i in agg_res:
    print(i)

{'_id': 'Anu', 'minimum': 99}
{'_id': 'Surya', 'minimum': 76}
{'_id': 'Jai', 'minimum': 88}

### maximum

In [32]:
agg_res=collection.aggregate(
[{
    '$group':
    {'_id':"$Name",
    "maximum":{"$max":"$score"}}
}])

In [33]:
for i in agg_res:
    print(i)

{'_id': 'Jai', 'maximum': 88}
{'_id': 'Anu', 'maximum': 99}
{'_id': 'Surya', 'maximum': 98}

### create another collection

In [41]:
import datetime

In [45]:
data1=[{"_id":1,"item":"abc","price":10,"quantity":2,"date":datetime.datetime.utcnow()},
      {"_id":2,"item":"xyz","price":20,"quantity":4,"date":datetime.datetime.utcnow()},
      {"_id":3,"item":"abc","price":10,"quantity":3,"date":datetime.datetime.utcnow()},
      {"_id":4,"item":"hys","price":30,"quantity":10,"date":datetime.datetime.utcnow()}
     ]

In [46]:
data1

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2020, 10, 18, 15, 52, 9, 920431)},
 {'_id': 2,
  'item': 'xyz',
  'price': 20,
  'quantity': 4,
  'date': datetime.datetime(2020, 10, 18, 15, 52, 9, 920431)},
 {'_id': 3,
  'item': 'abc',
  'price': 10,
  'quantity': 3,
  'date': datetime.datetime(2020, 10, 18, 15, 52, 9, 920431)},
 {'_id': 4,
  'item': 'hys',
  'price': 30,
  'quantity': 10,
  'date': datetime.datetime(2020, 10, 18, 15, 52, 9, 920431)}]

In [47]:
mycollection=mydbs['store']
mycollection.insert_many(data1)

In [50]:
agg_result=mycollection.aggregate([{
    "$group":{
    "_id":"$item",
    "avg amount":{"$avg":{"$multiply":["$price","$quantity"]}},
    "avg quantity":{"$avg":"$quantity"}}
    
}])

In [51]:
for i in agg_result:
    print(i)

{'_id': 'xyz', 'avg amount': 80.0, 'avg quantity': 4.0}
{'_id': 'abc', 'avg amount': 25.0, 'avg quantity': 2.5}
{'_id': 'hys', 'avg amount': 300.0, 'avg quantity': 10.0}

### project agg

In [54]:
data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5,
  "lastModified": "2016-07-28"
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2,
  "lastModified": "2017-07-21"
},
{
  "_id" : 3,
  "title": "Ice Cream Cakes",
  "isbn": "8888888888888",
  "author": { "last": "xyz", "first": "abc", "middle": "mmm" },
  "copies": 5,
  "lastModified": "2017-07-22"
}]

In [55]:
data

[{'_id': 1,
  'title': 'abc123',
  'isbn': '0001122223334',
  'author': {'last': 'zzz', 'first': 'aaa'},
  'copies': 5,
  'lastModified': '2016-07-28'},
 {'_id': 2,
  'title': 'Baked Goods',
  'isbn': '9999999999999',
  'author': {'last': 'xyz', 'first': 'abc', 'middle': ''},
  'copies': 2,
  'lastModified': '2017-07-21'},
 {'_id': 3,
  'title': 'Ice Cream Cakes',
  'isbn': '8888888888888',
  'author': {'last': 'xyz', 'first': 'abc', 'middle': 'mmm'},
  'copies': 5,
  'lastModified': '2017-07-22'}]

In [56]:
collection=mycollection['books']

In [57]:
collection.insert_many(data)

In [58]:
for row in collection.aggregate([{"$project":{'title':1,'copies':1}}]):
    print(row)

{'_id': 1, 'title': 'abc123', 'copies': 5}
{'_id': 2, 'title': 'Baked Goods', 'copies': 2}
{'_id': 3, 'title': 'Ice Cream Cakes', 'copies': 5}