### connection

In [16]:
import mysql.connector as sql
connection=sql.connect(
host="localhost",
user="root",
password="12345")

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000217A23C5048>

### Creating database

In [18]:
cursor=connection.cursor() 
cursor.execute("CREATE DATABASE datascience1")

In [19]:
cursor.execute('SHOW DATABASES')

In [20]:
for db in cursor:
    print(db)

('datascience',)
('datascience1',)
('information_schema',)
('mysql',)
('performance_schema',)
('restaurant',)
('sakila',)
('stud',)
('sys',)
('world',)

### Execute and drop  database and check

In [22]:
cursor.execute("DROP DATABASE datascience")

In [23]:
cursor.execute('SHOW DATABASES')
for db in cursor:
    print(db)

('datascience1',)
('information_schema',)
('mysql',)
('performance_schema',)
('restaurant',)
('sakila',)
('stud',)
('sys',)
('world',)

In [24]:
import mysql.connector as sql
connection=sql.connect(
host="localhost",
user="root",
password="12345",
database='datascience1')

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000217A23C59B0>

### Create Table in MySQL in python

In [26]:
cursor=connection.cursor()   #operation object

In [39]:
cursor.execute("CREATE TABLE studentinf1(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(250), project VARCHAR(250))")

### Insert records in table

In [47]:
query= """INSERT INTO datascience1.studentinfo1 (name, project) VALUES(%s, %s)"""
value=("surya","Machine Learning")

In [48]:
cursor.execute(query,value)

In [49]:
print('row inserted',cursor.lastrowid)

row inserted 1

In [65]:
##insert multiline

query="""INSERT INTO datascience1.studentinfo1(name,project) VALUES(%s, %s)"""
values=[("Jaisurya","Matlab",),
       ("Selvan","Machine Learning"),
      ("Hariharan","Deep Learning"),
      ("Swetha","Statistics"),
      ("Anu","NLP"),
      ("Anjali","Analytics")]
        
cursor.executemany(query,values)
print("row inserted",cursor.lastrowid)

row inserted 8

### select all

In [70]:
cursor=connection.cursor()
cursor.execute("select * from studentinfo1")

### fetch all

In [71]:
cursor.fetchall()

[(1, 'surya', 'Machine Learning'),
 (2, 'Jaisurya', 'Matlab'),
 (3, 'Selvan', 'Machine Learning'),
 (4, 'Hariharan', 'Deep Learning'),
 (5, 'Swetha', 'Statistics'),
 (6, 'Anu', 'NLP'),
 (7, 'Anjali', 'Analytics'),
 (8, 'Jaisurya', 'Matlab'),
 (9, 'Selvan', 'Machine Learning'),
 (10, 'Hariharan', 'Deep Learning'),
 (11, 'Swetha', 'Statistics'),
 (12, 'Anu', 'NLP'),
 (13, 'Anjali', 'Analytics')]

### fetch one record at a time

In [72]:
cursor.fetchone()

### select particular columns

In [74]:
cursor.execute("select project from studentinfo1")

In [75]:
cursor.fetchall()

[('Machine Learning',),
 ('Matlab',),
 ('Machine Learning',),
 ('Deep Learning',),
 ('Statistics',),
 ('NLP',),
 ('Analytics',),
 ('Matlab',),
 ('Machine Learning',),
 ('Deep Learning',),
 ('Statistics',),
 ('NLP',),
 ('Analytics',)]

In [76]:
cursor.execute("SELECT DISTINCT name from studentinfo1")

In [77]:
cursor.fetchall()

[('surya',),
 ('Jaisurya',),
 ('Selvan',),
 ('Hariharan',),
 ('Swetha',),
 ('Anu',),
 ('Anjali',)]

In [78]:
cursor.execute("SELECT name, project from studentinfo1 WHERE name= 'surya' OR project = 'Machine Learning'")

In [79]:
cursor.fetchall()

[('surya', 'Machine Learning'),
 ('Selvan', 'Machine Learning'),
 ('Selvan', 'Machine Learning')]

### Drop table

In [80]:
cursor.execute('DROP TABLE studentinfo1')